{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'page_logout' %}" class="btn btn-primary-logout">{% trans 'LogoutButton' %}</a>
                <h2>{% trans 'YourCommentsHeader' %}</h2>
                {% if comments %}
                    {% with first_comment=comments.0 %}
                        <p>
                            {% trans 'UsernameLabel' %}: {{ first_comment.user.username }}<br>
                            {% trans 'DisplayNameLabel' %}: {{ first_comment.user.display_name }}
                        </p>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1 class="text-center mb-4">{% trans 'CommentsForAlbumHeader' %}: {{ album.title }}</h1>

                {% for comment in comments %}
                    <div class="comment card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{% trans 'AlbumLabel' %}:</h5>
                            <p class="card-subtitle mb-2 text-muted">
                                {{ comment.album.title }}
                            </p>
                            <p class="card-text">
                                {{ comment.text | linebreaks }}
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">
                        {% trans 'AccountNoCommentsMessage' %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
