{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<h1>{{ album.title }}</h1>
<img src="{{ album.cover_art.url }}" alt="{{ album.title }} cover" width="200">
<p>Artist: {{ album.artist }}</p>
<p>Price: {{ album.price }}</p>
<p>Format: {{ album.format }}</p>
<p>Release Date: {{ album.release_date }}</p>
<p>Description: {{ album.description }}</p>
<a href="#" class="btn btn-primary">Recommend a Friend</a>
<a href="{% url 'album_songs' album.id %}" class="btn btn-primary">View Songs</a>
{% endblock %}