/* Set the background color for the entire website */
body {
    background-color: #f8dd74;
    font-family: 'Inter', sans-serif;
    /*display: flex;*/
    height: 100vh;
}

/* Center the content */
.Title-content {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style the text inside the centered div */
.Title-content h1, .Title-content h2 {
    font-weight: bold;
    margin: 0;
}

.Title-content h1 {
    font-size: 100px;
    color: #285955;
}

.Title-content h1.second-line {
    font-size: 100px;
    margin-top: -20px;
}

/*.nav-link {*/
/*    color: #285955; !* Change the text color *!*/
/*    font-size: 30px; !* Change the font size *!*/
/*    text-decoration: none; !* Remove the underline *!*/
/*}*/

/*.nav-link:hover {*/
/*    color: transparent;*/
/*    font-weight: bold;*/
/*}*/

/*.navbar {*/
/*    background-color: red;*/
/*    border-bottom: 5px solid #285955;*/
/*}*/

/* not working */
.album-table {
    background-color: blue !important;
}

.album-table tr {
    border-bottom: 1px red;
}

#navbarNav{
    justify-content: center;
}

