/* Set the background color for the entire website */
body {
    background-color: antiquewhite;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    color: #285955;
}

/* Center the content */
.Title-content {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style the text inside the centered div */
.Title-content h1, .Title-content h2 {
    font-weight: bold;
    margin: 0;
}

.Title-content h1 {
    font-size: 100px;
    color: #285955;
}

.Title-content h1.second-line {
    font-size: 100px;
    margin-top: -20px;
}

.nav-link {
    color: #285955; /* Change the text color */
    font-size: 25px; /* Change the font size */
    text-decoration: none; /* Remove the underline */
}

.nav-link:hover {
    color: red;
    font-weight: bold;
}

.navbar {
    background-color: transparent;
    border-bottom: 5px solid #285955;
}

#navbarNav {
    justify-content: center;
}


.d-inline-block.align-top {
    width: 100px;
    height: 100px;
}


.footer-style {
    background-color: antiquewhite;
    color: darkred;
}

.error-messages {
    text-align: center;
    color: crimson;
}

.table.album-table {
    border-color: #285955 !important;
    border: 7px solid #285955 !important;
}

.btn.btn-primary {
    background-color: #285955;
    border-color: #285955;
}

.btn.btn-primary:hover {
    background-color: limegreen;
    border-color: limegreen;
    font-weight: bold;

}

.btn.btn-save {
    background-color: green;
    border-color: green;
    color: white;
}

.btn.btn-save:hover {
    color: white;
    font-weight: bold;
    background-color: limegreen;
    border-color: limegreen;
}

.btn.btn-danger {
    background-color: #BE0808;
    border-color: #BE0808;
    color: white;
}

.btn.btn-danger:hover {
    background-color: red;
    border-color: red;
    color: white;
    font-weight: bold;
}

.btn-primary-logout {
    background-color: #BE0808;
    border-color: #BE0808;
    color: white;
}

.btn-primary-logout:hover {
    background-color: red;
    border-color: red;
    color: white;
    font-weight: bold;
}


