{% load static %}
{% load i18n %}

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light navbar-transparent custom-navbar ">
        <img src="{% static 'SapientCLTRSpin.gif' %}" class="d-inline-block align-top"
             alt="">
        <button class="navbar-toggler custom-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">{% trans 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">{% trans 'Contact' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/albums/">{% trans 'Albums' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">{% trans 'Account' %}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>