{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">About This Project</h1>
            <div class="text-center">
                <p>This project is a web application for viewing and managing music albums. It allows users to search for albums, view album details, and manage the song list of each album. The application is built using Python and Django, and it uses Bootstrap for the frontend design.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}